* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-color: rgb(189, 25, 189);
}

#background-cover {
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjQxMC1zYXNpLTYxLWVpZG11YmFyYWtfMl8yLmpwZw.jpg?s=hH0rPvpwKZ6mPujEaEe62gK82Jz4XK0LiklOQeNosaw");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

#content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#logo {
    width: 40px;
    height: 40px;
    filter: invert();
    background-color: white;
    border-radius: 30%;
    padding: 5px;
    border: 1.5px solid black;
}

#content-wrap-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.rsd {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    gap: 70px;
    justify-content: center;
}


#radio-stations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#radio-div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.radio-station-button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.radio-station-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.selected-button {
    background-color: rgba(0, 128, 0, 0.5);
}

.selected-button:hover {
    background-color: rgba(0, 90, 0, 0.5);
}

@media (max-width: 800px) {
    #radio-div {
      flex-direction: column;
      gap: 20px;
    }
}

#emblem {
    width: 70px;
    height: 70px;
}

#emblem:hover {
    filter: drop-shadow(0 0 0.2rem white);
}

.youtube-icon {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.youtube-icon:hover {
    cursor: pointer;
}

#line {
    width: 600px;
    height: 5px;
    background-color: red;
    border-radius: 3px;
}

#emblems {
    display: flex;
    gap: 25px;
}
