* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-color: black;
    background-image: url("https://cdn.discordapp.com/attachments/1005274376679211132/1005330829083410462/send_1_1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#logo {
    width: 80px;
    height: 80px;
}

#content-wrap-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#content-div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 800px) {
    #content-div {
      flex-direction: column;
      gap: 20px;
    }
}

#emblem {
    width: 70px;
    height: 70px;
}

#emblem:hover {
    filter: drop-shadow(0 0 0.2rem white);
}

.youtube-icon {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.youtube-icon:hover {
    cursor: pointer;
}

#line {
    width: 600px;
    height: 5px;
    background-color: red;
    border-radius: 3px;
}

#circle {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

#location-div {
    display: flex;
    gap: 10px;
}

#location-p {
    color: grey;
}

#emblems {
    display: flex;
    gap: 25px;
}
